*/home/aamin/files/marketing/copy/final_data
*/home/aamin/files/marketing/copy/reports_data
*/home/aamin/files/marketing/copy/zip_folder
*/home/aamin/files/marketing/copy/data
*/home/aamin/files/marketing/main/Report from 2021-20221122T082040Z-001.zip
*/home/aamin/files/marketing/main/Reports-20221122T082008Z-001.zip
*/home/aamin/files/marketing/zip_folder
*.csv
*.zip